.side {
  height: 1318px;
  background-color: #343434;
  /* border-right: 1px solid black; */
}

.sideContainer {
  height: 97%;
  width: 91%;
  margin: 20px 4.5%;
}

.mainMenu {
  height: 100%;
  width: 23.5%;
  background-color: #2D2D2D;
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  border-right: 1px solid black;
  float: left;
}

.fileMenu {
  height: 100%;
  width: 76.5%;
  margin-left: 23.5%;
  background-color: #2D2D2D;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
  /* border: 1px solid black; */
}

.fileContainer {
  width: 100%;
  height: 92%;
  /* background-color: blue; */
  margin-top: 10px;
}


.site-tree-search-value {
  color: #f50;
}

.logo {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 250px 1000px 270px;
  grid-template-rows: 50px;
}

/* 滚动条区域的宽度 */
::-webkit-scrollbar {
  width: 4px;
}
/* 滚动槽的样式设置 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}
/* 滚动条滑块的样式设置 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px #08979c;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #0000;
}