.loginDiv {
    width: 500px;
    height: 300px;
    padding: 10px 10px;
    padding-top: 100px;
}

.user {
    border: 2px solid black;
    border-radius: 5px;
}

.password {
    border: 2px solid black;
    border-radius: 5px;
}

.back {
    color: white;
    transition: 0.5s;
}

.back:hover {
    color: #3498db;
}