.rightContent {
  width: 95%;
  height: 1000px;
  background-color: #2f2f2f;
  margin: 20px 2.5%;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
}

.rightCenter {
  width: 93%;
  height: 95%;
  background-color: #2f2f2f;
  margin: 30px 3.5%;
}

.leftButton {
  margin-top: 55px;
  margin-left: 5px;
  border: none;
  outline: 0;
  padding: 0;
  height: 36px;
  width: 36px;
  transition: 1s;
  border-radius: 50%;
  background-color: #f8f8ff;
  color: #ff0000;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
  cursor: pointer; // 鼠标指针移上去显示为“小手”
  opacity: 0.1; // 默认不透明度0.05，几乎不可见
}

// 鼠标悬浮上去不透明度变为1，可见
.leftButton:hover {
  opacity: 1;
}

.rightButton {
  margin-top: 55px;
  margin-left: 958px;
  border: none;
  outline: 0;
  padding: 0;
  height: 36px;
  width: 36px;
  transition: 1s;
  border-radius: 50%;
  background-color: #f8f8ff;
  color: #ff0000;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.1;
}

.rightButton:hover {
  opacity: 1;
}

.contentStyle {
  text-align: center;
  height: 400px;
  color: #fff;
  background: #2f2f2f;
  width: 80%;
  margin-left: 10%;
}

.steps_content {
  margin-top: 16px;
  // border: 1px dashed #e9e9e9;
  border-radius: 2px;
  // background-color: #fafafa;
  // min-height: 400px;
  // text-align: center;
  // padding-top: 80px;
}

.steps_action {
  margin-top: 0px;
}

/* 滚动条区域的宽度 */
::-webkit-scrollbar {
  width: 4px;
}
/* 滚动槽的样式设置 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}
/* 滚动条滑块的样式设置 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px #3498db;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #3498db;
}
