.difficulty {
  background-color: dodgerblue;
  margin: 6px;
  height: 96px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
}

.difficulty:hover {
  opacity: 0.8;
}
