.side {
  height: 710px;
  background-color: #343434;
  border-right: 1px solid black;
}

.sideContainer {
  height: 690px;
  width: 350px;
  background-color: blanchedalmond;
  margin: 20px 10px;
  border-radius: 5px;
}

.mainMenu {
  height: 100%;
  width: 82px;
  background-color: #2D2D2D;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid black;
  float: left;
}
.fileMenu {
  height: 100%;
  width: 268px;
  margin-left: 82px;
  background-color: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fileContainer {
  width: 100%;
  height: 590px;
  // background-color: blue;
  margin-top: 10px;
}

.rightContent {
  width: 1080px;
  height: 690px;
  background-color: #2F2F2F;
  margin: 20px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.userDiv {
  width: 200px;
  height:100%;
  background-color: #292929;
  float: left;
  border-Radius:5px
}

.featuresDiv{
  width: 326px;
  height:165px;
  float: left;
  margin-left:31px;
  border-radius: 5px;
  color: white;
}

.site-tree-search-value {
  color: #f50;
}
