.container {
  margin: 12px;

  h4 {
    margin: 18px 0;
  }
}
.currentQuestion {
  outline: 2px green solid;
}

.btn {
  background-color: dodgerblue;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 3px 6px;

  &:hover {
    opacity: 0.8;
  }
}
