.container {
  margin: 12px;

  h4 {
    margin: 18px 0;
  }
}
.questionNameContainer {
  display: flex;

  div {
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    width: 24px;
    text-align: center;
  }

  .currentQuestion {
    background-color: orangered;
  }

  .otherQuestion {
    background-color: dodgerblue;
  }

  div:hover {
    opacity: 0.8;
  }
}

.btn {
  background-color: dodgerblue;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 3px 6px;

  &:hover {
    opacity: 0.8;
  }
}
